.collection_card{
    height: 130px;
    width: 130px;
    /* border-radius: 100%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection_card:hover{
    box-shadow: 0 0px 2px 1px white !important;
    transition: all linear 0.3s;

}
.collection_card .collection_image {
    width: 70%;
    height: 70%;
}
.collection_card:hover .collection_image {
    transform: scale(1.06);
    transition: all linear 0.7s;
}

